extends ../layout

block content
  script(type='text/javascript', src='/javascripts/d3.v3/d3.v3.min.js')
  script(type='text/javascript', src='/javascripts/moment.min.js')
  link(rel='stylesheet', href='/stylesheets/reports.css')

  | X axis :
  div.btn-group#x-axis-menu(data-toggle="buttons-radio")
  | Y axis :
  div.btn-group#y-axis-menu(data-toggle="buttons-radio")
    //- button.btn.d3-button(value='grouped') Grouped
    //- button.btn.d3-button.active(value='stacked') Stacked

  script(type='text/javascript', src='/javascripts/reports.js')
  script
    correlate();