extends ../layout

block content
  - if (typeof(reports) !== 'undefined')
    link(rel='stylesheet', href='/stylesheets/reports.css')
    script(type='text/javascript', src='/javascripts/d3.v3/d3.v3.min.js')

    //- div.btn-group(data-toggle="buttons-radio")
    //-   button.btn.d3-button(value='grouped') Grouped
    //-   button.btn.d3-button.active(value='stacked') Stacked

    script(type='text/javascript', src='/javascripts/reports.js')
    script
      reports(!{JSON.stringify(reports)});
    
  - else if (typeof(links) !== 'undefined')
    // heejune-2013.08.16
    //ul.nav.nav-pills
    ul
      - for link in links
        - if (link !== '')
          li
            a.btn.btn-link.custom(href="/user_usage?userId=#{encodeURIComponent(link)}")=link
