!!!
html(lang='en')
  head
    meta(http-equiv='content-type', content='text/html;charset=UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')

    title title

    link(rel='icon', href='/favicon.ico')

    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/application.css')

    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='http://underscorejs.org/underscore-min.js')
    script(type='text/javascript', src='/javascripts/application.js')

  body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container-fluid
          button.btn.btn-navbar(data-toggle='collapse', data-target='nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') title
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='/users') User
              li.active
                a(href='/apps') App
              li.active
                a(href='/categories') Category
              li.active
                a(href='/usages') Usage
              li.active
                a(href='/reports') Report
              li.active
                a(href='/surveys') Survey
              li.active
                a(href='/friendships') Friendship
    .container-fluid
      .row-fluid
        .span12
          block content
      hr
      footer
        p Copyright © 2012, WanbokChoi.
