extends ../layout

block content
  .page-header
    h1
      | Friendship
      span.pull-right
        a.btn.btn-inverse(href='/friendships') Back
        | &nbsp;
        a.btn(href='/friendships/'+friendship.id+'/edit') Edit
        | &nbsp;
        a.btn.btn-danger.apiDestroy(href='/friendships/'+friendship.id) Destroy
  table.table.table-bordered.table-striped
    tbody
      tr
        td
          strong FollowerTelNumber
        td= friendship.followerTelNumber
      tr
        td
          strong FollowingTelNumber
        td= friendship.followingTelNumber
      tr
        td
          strong IsPaired
        td= friendship.isPaired
      tr
        td
          strong NeedAsk
        td= friendship.needAsk
      tr
        td
          strong Categories
        td 
          - for (var i = (typeof friendship.categories !== 'undefined') ? friendship.categories.length - 1 : -1; i >= 0; i--)
            = friendship.categories[i]