extends ../layout

block content
  .page-header
    h1
      | Usages
      span.pull-right
        a.btn.btn-primary(href='/usages/new') New
  table.table.table-striped
    thead
      tr
        th UserTelNumber
        th AppIdentifier
        th StartedAt
        th EndedAt
        th 
        th
        th
    tbody
      each usage in usages
        tr
          td= usage.userTelNumber
          td= usage.appIdentifier
          td= usage.startedAt
          td= usage.endedAt
          td.actions
            a.btn.btn-mini.btn-primary(href='/usages/'+usage.id) Show
          td.actions
            a.btn.btn-mini(href='/usages/'+usage.id) Edit
          td.actions
            a.btn.btn-mini.btn-danger.apiDestroy(href='/usages/'+usage.id) Destroy
